html {
  height: 100%;
  background: linear-gradient(to bottom, #4a5568, #2d3748);
  background-image: url(images/red\ _bg.jpg);
  background-size: cover;
  font-family: 'Arial', sans-serif;
}

#container {
  width: 760px;
  height: 610px;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  background: transparent;
  position: relative;
}

#instructions {
  width: 440px;
  height: 50px;
  margin: 10px auto;
  font-size: 28px;
  background-color: #ed8936;
  color: #2d3748;
  text-align: center;
  line-height: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 0 #c05621;
}

#fruitcontainer {
  background: url(images/brown_bg.jpg);
  background-size: cover;
  width: 660px;
  height: 450px;
  padding: 10px;
  margin: 25px auto;
  border-radius: 15px;
  box-shadow: 0 4px 0 #4a5568;
  position: relative;
  overflow: hidden;
}

.fruit {
  display: none;
  position: absolute;
}

#score {
  display: none;
}

.scoreDisplay {
  z-index: 2;
  display: flex;
  background-color: transparent;
  color: #e2e8f0;
  position: absolute;
  font-size: 28px;
  align-items: center;
}

#score img {
  width: 38px;
  padding-right: 5px;
}

#trialsleft {
  margin-top: 8px;
  display: flex;
  position: absolute;
  left: 560px;
  background-color: transparent;
  z-index: 2;
}

.life {
  width: 30px;
  padding-right: 5px;
}

#front {
  font-size: 36px;
  color: #ed8936;
  width: 640px;
  height: 430px;
  padding: 15px;
  margin: 25px auto;
  text-align: center;
  background-color: transparent;
  z-index: 3;
  display: none;
}

#front img {
  width: 250px;
  margin-top: 10px;
}

#startReset {
  width: 100px;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  background-color: #bbb148;
  box-shadow: 0 4px 0 #38a169;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  transition: all 0.2s;
}

#startReset:active {
  background-color: #d5d82b;
  box-shadow: 0 0 #d5d82b;
  transform: translateY(4px);
}

#gameOver {
  width: 500px;
  height: 300px;
  background: rgba(0, 0, 0, 0.7);
  color: #ed8936;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  position: absolute;
  top: 170px;
  left: 150px;
  z-index: 3;
  border-radius: 10px;
  display: none;
}